{% load static %}
<footer class="">
    <div class="contacts__container">
        <div class="contacts__item contacts__item__1">
            <p>Контакты:</p>
            <p>тел. +79836573456</p>
        </div>
        <div class="contacts__item contacts__item__2" >
            <p>Литейный пр., 32,<br> Санкт-Петербург, <br> 191028</p>
        </div>
        <div class="contacts__item contacts__item__3">
            <a target="_blank" href="https://instagram.com">
                <img src="{% static 'img/icon6.png' %}"  alt="" height="30px">
            </a>
            <a target="_blank" href="https://twitter.com">
                <img src="{% static 'img/icon7.png' %}"  alt="" height="30px">
            </a>
            <a target="_blank" href="https://facebook.com">
                <img src="{% static 'img/icon5.png' %}" alt="" height="30px">
            </a>
            <a target="_blank" href="https://vk.com">
                <img src="{% static 'img/icon9.png' %}"  alt="" height="30px">
            </a>
        </div>
    </div>		
    <p class="logo">© 2023 Moonstone</p>
</footer>