{% load static %}
<header>
    <div class="header__container">
		<div class="header__outer">
			<div class="header__inner">
				<nav class="header__inner">
					<ul class="header__list">
						<li class="top__level">
							<a href="{% url 'shop:shop' %}">
								<p class="top__logo">Moonstone</p>
							</a>
						</li>
						<li class="top__level">
							<a href="#">
								Новинки
							</a>
						</li>
						<li class="top__level">
							<a href="#">
								Одежда
							</a>
						</li>
						<li class="top__level">
							<a href="#">
								Аксессуары
							</a>
						</li>
						<li class="top__level">
							<a href="#">
								Личный кабинет
							</a>
						</li>
						<li class="top__level">
							<a href="#">
								Корзина
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>