{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="account__body">
        <div class="account__hello">
            <h1>Добро пожаловать в личный кабинет,</h1>
            <p>{{ user.first_name }} {{ user.last_name }}</p>
        </div>
        <div class="account__top">
        </div>
        История ваших покупок
        <div class="account__out">
            <form method="post" action="{% url 'shop:logout' %}">
                {% csrf_token %}
                <button class="account__button" type="submit">Выйти</button>
              </form>
        </div>
    </div>
  {% else %}
    <p>Вы не авторизованы! <a href="{% url 'shop:login' %}">Войдите</a>, чтобы продолжить.</p>
  {% endif %}
{% endblock %}




