{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<div class="cart__body">
  <h1>Корзина</h1>
  {% if cart %}
  <table>
    <tbody>
      {% for item in cart %}
      <tr>
        <td>{{ item.product.name }}</td>
        <td>
          <form method="POST" action="{% url 'shop:cart_detail' %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ item.id }}">
            <input type="hidden" name="action" value="update">
            <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="10" step="1">
            <button class="cart__update" type="submit">Обновить</button>
          </form>
        </td>
        <td>{{ item.product.price }} руб.</td>
        <td>{{ item.get_total_price }} руб.</td>
        <td>
          <form method="POST" action="{% url 'shop:cart_detail' %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ item.id }}">
            <input type="hidden" name="action" value="delete">
            <button class="cart__delete" type="submit">Удалить</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p class="cart__price">К оплате:   {{ cart.get_cart_total}} руб.</p>
  <form class="cart__checkout" method="post" action="{% url 'shop:checkout' %}">
    {% csrf_token %}
    <button class="cart__checkout__button">Оформить заказ</button>
  </form>
  {% else %}
  <div class="button__cart">
    <p>В вашей корзине нет покупок</p>
    <button class="button__cart__get"> <a href="{% url 'shop:product_list_2' %}" class="btn btn-primary">Перейти к покупкам</a></button>
  </div>
  {% endif %}
</div>
{% endblock %}