{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="login__body">
  <h1>Личный кабинет</h1>
  <form method="post">
    {% csrf_token %}
    <label for="username">Логин:</label>
    <input type="text" name="username" id="username"><br>
    <label for="password">Пароль:</label>
    <input type="password" name="password" id="password"><br>
    <input class="login__input" type="submit" value="Войти">
  </form>
  <div>
    <a href="{% url 'shop:signup' %}">Зарегистрироваться</a>
  </div>
  <div>
    <a href="#">Забыли пароль?</a>
  </div>
</div>
{% endblock %}