{% extends 'shop/base.html' %}
{% block content %}
<div class="history__body">
    <h1>История заказов</h1>
    {% if orders %}
      <table>
        <thead>
          <tr>
            <th>Дата заказа</th>
            <th>Номер заказа</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Общая стоимость</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            {% for item in order.items.all %}
              <tr>
                <td>{{ order.created }}</td>
                <td>{{ order.id }}</td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.get_cost }}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="history__none">
      <p>У вас пока нет заказов.</p>
      <button class="history__get"> <a href="{% url 'shop:product_list_2' %}" class="btn btn-primary">Перейти к покупкам</a></button>
    </div>
    {% endif %}
</div>

{% endblock %}