{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="basis">
    <div class="filter-form">
        <form method="get" action="">
            <label for="color">цвет:</label>
            <select name="color" id="color">
                <option value="">выбрать</option>
                {% for color in colors %}
                    <option value="{{ color.color }}" {% if color.color == request.GET.color %}selected{% endif %}>{{ color.color }}</option>
                {% endfor %}
            </select>
        
            <label for="size">размер:</label>
            <select name="size" id="size">
                <option value="">выбрать</option>
                {% for size in sizes %}
                    <option value="{{ size.size }}" {% if size.size == request.GET.size %}selected{% endif %}>{{ size.size }}</option>
                {% endfor %}
            </select>
            <button type="submit">показать товары</button>
        </form>
    </div>
    <div class="product-row">
        {% for product in products %}
        <div class="product">
            <div class="product-image">
                <a href="{% url 'shop:product_detail' id=product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
            </div>
            <div class="product-info">
                <h3><a href="{% url 'shop:product_detail' id=product.id %}">{{ product.name }}</a></h3>
                <p>{{ product.price }} руб.</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {% for i in products.paginator.page_range %}
            {% if products.number == i %}
                <a class="current">{{ i }}</a>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %} 