{% extends 'shop/base.html' %}
<main class="main">
  {% block content %}
  <div class="detail__body">
    <div class="detail__row">
      <div class="detail">
        <div class="detail__image">
          <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
      </div>
      <div class="detail">
        <div class="detail__name">
          <h1>{{ product.name }}</h1>
          <p>{{ product.price }} руб.</p>
          <form method="post" action="{% url 'shop:cart_add' product.id %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <div class="detail__form">
                <label for="id_quantity">Количество:</label>
                <input type="number" name="quantity" id="id_quantity" min="1" value="1">
            </div>
            <button type="submit" class="btn btn-primary">Добавить в корзину</button>
          </form>
        </div>
        <div class="detail__description">
          <p>{{ product.description }}</p>
        </div>
      </div>  
    </div>
  </div>
  {% endblock %}
</main>