{% extends 'shop/base.html' %}
<main class="main">
  {% block content %}
  <div class="detail__body">
    <div class="detail__row">
      <div class="detail">
        <div class="detail__image">
          <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
      </div>
      <div class="detail">
        <div class="detail__name">
          <h1>{{ product.name }}</h1>
          
          <form method="post" action="{% url 'shop:cart_add' product.id %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <div class="detail__form">
              <label>Размер:</label><br><br>
              {% for size in sizes %}
                <label>
                  <input class="detail__form__size" type="radio" name="size" value="{{ size }}" {% if forloop.first %}checked{% endif %}>
                  {{ size }}
                </label>
              {% endfor %}
            </div>
            <div class="detail__form">
              <label for="id_color">Цвет:</label><br><br>
              <select name="color" id="id_color">
                {% for color in colors %}
                  <option value="{{ color }}" {% if forloop.first %}selected{% endif %}>{{ color }}</option>
                {% endfor %}
              </select>
              <div class="color-circles">
                {% for color in colors %}
                  <span style="background-color: {{ color }};"></span>
                {% endfor %}
              </div>
            </div>
            <div class="detail__form">
              <label for="id_quantity">Количество:</label><br><br>
              <input class="detail__form__quantity" type="number" name="quantity" id="id_quantity" min="1" value="1">
            </div>
            <p><b>{{ product.price }}</b> руб.</p>
            <button type="submit" class="btn btn-primary">Добавить в корзину</button>
          </form>
        </div>
        <div class="detail__description">
          <p>{{ product.description }}</p>
        </div>
      </div>  
    </div>
  </div>
  {% endblock %}
</main>