{% extends 'shop/base.html' %}
<script>
  $(document).ready(function() {
    $('.add-to-cart-btn').on('click', function() {
      var form = $(this).closest('form');
      var data = {
        'product_id': form.find('input[name="product_id"]').val(),
        'color': form.find('select[name="color"] option:selected').val(),
        'size': form.find('input[name="size"]:checked').val(),
        'quantity': form.find('input[name="quantity"]').val(),
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      };
      $.ajax({
        url: form.attr('action'),
        type: form.attr('method'),
        data: data,
        success: function(response) {
          console.log('Товар успешно добавлен в корзину.');
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log('Ошибка при добавлении товара в корзину:', errorThrown);
        }
      });
      return false;
    });
  });
  </script>
{% block content %}
<main class="main">
  <div class="detail__body">
    <div class="detail__row">
      <div class="detail">
        <div class="detail__image">
          <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
      </div>
      <div class="detail">
        <div class="detail__name">
          <h1>{{ product.name }}</h1>
          <form method="post" action="{% url 'shop:cart_add' product.id %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <div class="detail__form">
              <label>Размер:</label><br><br>
              {% for size in sizes %}
                <label>
                  <input class="detail__form__size" type="radio" name="size" value="{{ size }}" {% if forloop.first %}checked{% endif %}>
                  {{ size }}
                </label>
              {% endfor %}
            </div>
            <div class="detail__form">
              <label for="id_color">Цвет:</label><br><br>
              <select name="color" id="id_color">
                {% for color in colors %}
                  <option value="{{ color }}" {% if forloop.first %}selected{% endif %}>{{ color }}</option>
                {% endfor %}
              </select>
              <div class="color-circles">
                {% for color in colors %}
                  <span style="background-color: {{ color }};"></span>
                {% endfor %}
              </div>
            </div>
            <div class="detail__form">
              <label for="id_quantity">Количество:</label><br>
              <input type="number" name="quantity" id="id_quantity" value="1" min="1" max="10" step="1">
            </div>
            <button type="submit" class="btn btn-primary add-to-cart-btn">Добавить в корзину</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}