{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
        <div class="clothes__body">
			<div class="clothes__row">
				<div class="clothes__column">
					<div class="clothes__content">
						<img src="../../static/img/5.webp" alt="" >					
					</div>
					<a href="#"><p class="product">Джинсы-бойфренды с высокой посадкой<br>4999 руб.</p></a>
				</div>
				<div class="clothes__column">
					<div class="clothes__content">
						<img src="../../static/img/6.webp" alt="" >
					</div>
					<a href="#"><p class="product">Бежевый костюм с пайетками<br>6499 руб.</p></a>
				</div>
				<div class="clothes__column">
					<div class="clothes__content">
						<img src="../../static/img/7.webp" alt="" >
					</div>
					<p class="product">Коктейльное мини-платье из атласа<br>5699 руб.</p></a>
				</div>
				<div class="clothes__column">
					<div class="clothes__content">
						<img src="../../static/img/8.webp" alt="" >
					</div>
					<p class="product">Кожаный костюм<br>9699 руб.</p></a>
				</div>
			</div>
			<div class="clothes__row">
				<div class="clothes__column">
					<div class="clothes__content">
						<img src="../../static/img/9.webp" alt="" >					
					</div>
					<a href="#"><p class="product">Вечернее неоновое платье<br>6999 руб.</p></a>
				</div>
				<div class="clothes__column">
					<div class="clothes__content">
						<img src="../../static/img/10.webp" alt="" >
					</div>
					<a href="#"><p class="product">Укороченный топ<br>3399 руб.</p></a>
				</div>
				<div class="clothes__column">
					<div class="clothes__content">
						<img src="../../static/img/11.webp" alt="" >
					</div>
					<p class="product">Коктейльное мини-платье с вставкой <br>5699 руб.</p></a>
				</div>
				<div class="clothes__column">
					<div class="clothes__content">
						<img src="../../static/img/12.webp" alt="" >
					</div>
					<p class="product">Перламутровое коктейльное мини-платье<br>5399 руб.</p></a>
				</div>
			</div>
			<div class="clothes__row">
				<div class="clothes__column">
					<div class="clothes__content">
						<img src="../../static/img/13.webp" alt="" >					
					</div>
					<a href="#"><p class="product">Брюки с высокой посадкой<br>4999 руб.</p></a>
				</div>
				<div class="clothes__column">
					<div class="clothes__content">
						<img src="../../static/img/14.webp" alt="" >
					</div>
					<a href="#"><p class="product">Пижамный костюм<br>7499 руб.</p></a>
				</div>
				<div class="clothes__column">
					<div class="clothes__content">
						<img src="../../static/img/15.webp" alt="" >
					</div>
					<p class="product">Коктейльное мини-платье с пайетками<br>5699 руб.</p></a>
				</div>
				<div class="clothes__column">
					<div class="clothes__content">
						<img src="../../static/img/16.webp" alt="" >
					</div>
					<p class="product">Кожаный пиджак<br>6699 руб.</p></a>
				</div>
			</div>
		</div>
{% endblock %}