
{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
	<div class="title">
		<div class="title__text"><h1><b>New items</b></h1>
        <h3><i>Самые модные новинки <br> этого сезона</i></h3>
	    </div>
	</div>
    <div class="title__body">
		<div class="title__row">
			<div class="title__column">
				<div class="title__content">
					<img src="{% static 'img/3.webp' %}" alt="" >
				</div>
				<a href="#"><p class="product">Сатиновый топ<br>2999 руб.</p></a>
			</div>
			<div class="title__column">
				<div class="title__content">
					<img src="{% static 'img/2.webp' %}"  alt="" >
				</div>
				<a href="#"><p class="product">Сатиновое вечернее платье<br>5499 руб.</p></a>
			</div>
			<div class="title__column">
				<div class="title__content">
					<img src="{% static 'img/4.webp' %}"  alt="" >
				</div>
				<p class="product">Сатиновый костюм<br>7699 руб.</p></a>
		    </div>
		</div>
	</div>
{% endblock %}