<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываем язык содержимого -->
<html lang="ru">
	<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
		<!-- Заголовок страницы в браузере -->
		<title>Moonstone - Online fashion store</title>
		<!-- Подключаем шрифты -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
		<!-- Подключаем CSS -->
		<link rel="stylesheet" href="static/css/style.css" type="text/css"/>
		<!-- Кодировка страницы -->
		<meta charset="UTF-8" >
		<!--Адаптивность-->
		<meta name="viewport" content="width=device-width">	
	</head>
		<!-- Отключает принудительную ссылку у номера телефона на iOS -->
		<meta name="format-detection" content="telephone=no">
	<!-- Отображаемое тело страницы -->
	<body>
		<header>
			<div class="header__container">
				<div class="header__outer">
					<div class="header__inner">
						<nav>
							<ul class="header__list__nav">
								<li class="top__level">
									<a href="#">
										Новинки
									</a>
								</li>
								<li class="top__level">
									<a href="#">
										Одежда
									</a>
								</li>
								<li class="top__level">
									<a href="#">
										Аксессуары
									</a>
								</li>
							</ul>
                            <ul class="header__list__user">
								<li class="top__level">
									<a href="#">
										Личный кабинет
									</a>
								</li>
								<li class="top__level">
									<a href="#">
										Корзина
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

		<div class="title">
			<div class="title__body">
				<div class="title__text"><h1><b>Новая коллекция</b></h1></div>
				<div class="title__row">
					<div class="title__column">
						<div class="title__content">
							<img src="img/team.jpg" alt="" >
						</div>
					</div>
					<div class="title__column">
						<div class="title__content">
							<img src="img/andreea.jpg" alt="" >
						</div>
					</div>
					<div class="title__column">
						<div class="title__content">
							<img src="img/jason.jpg" alt="" >
						</div>
					</div>
				</div>
			</div>
		<div class="title__contacts">
			<form>
				<button type="submit" name="title__registration" style="width: 380px;height: 60px; ">Зарегистрироваться на сайте</button>
			</form>
		</div>
		</div>
		<div class="about">
			<p><h3>Создаем языковое комьюнити</h3></p>
			<p><img src="img/icon2.png" alt="filter applied" height="80px"><h4>НЕ ХВАТАЕТ РАЗГОВОРНОЙ ПРАКТИКИ?</h4>
				Практикуем языки в рамках хобби. Темы, которые нам интересны гораздо легче обсуждать. 
				
				Более 9 000 участников разговорных клубов подтвердили эффективность изучения иностранного языка через разговорную практику и мероприятия формата Language in Action.</p>
            <p><img src="img/icon3.png" alt="filter applied" height="80px"><h4>СТРАХ В ОБЩЕНИИ С ИНОСТРАНЦАМИ?</h4>
				Наши мероприятия ведут носители языка, лингвисты, опытные преподаватели. 	
				Регулярное общение с носителями (онлайн и офлайн) позволяет избавиться от страха при разговоре с иностранцами, а также узнать много нового про культуру других стран.</p>
		    <p><img src="img/icon4.png" alt="filter applied" height="80px"><h4>ПОТЕРЯ МОТИВАЦИИ И ИНТЕРЕСА ПРИ ИЗУЧЕНИИ ЯЗЫКА?</h4>
				Скучные задания, однообразие в обучении, отсутствие единомышленников?	
				Являясь частью коммьюнити в группе единомышленников изучать язык не только проще, но и интереснее. К тому же все мероприятия делятся по уровням и интересам.</p>
		</div>
		<div class="registration">
			<div class="registration__body">
			    <p class="registration__title"> Запись в группу по уровню английского</p>
				<div class="registration__row">
					<div class="registration__column">
						<div class="item-registration">
							<div class="item-registration__title">A1 <br> Beginner</div>
							<div class="item-registration__subtitle">Начальный уровень</div>
							<div class="item-registration__text">
								Вы можете использовать простые фразы для базовых нужд. С А1 вы можете общаться на базовом уровне, при условии, что собеседник говорит четко.
							</div>
						</div>
					</div>
					<div class="registration__column">
						<div class="item-registration__title">A2 <br> Elementary</div>
						<div class="item-registration__subtitle">Уровень ниже среднего</div>
						<div class="item-registration__text">
							Вы можете использовать английский для повседневных задач и занятий. Вы также можете понимать общие фразы, связанные с такими темами, как личная информация и работа.
						</div>
					</div>
					<div class="registration__column">
						<div class="item-registration__title">B1 <br> Intermediate</div>
						<div class="item-registration__subtitle">Средний уровень</div>
						<div class="item-registration__text">
							Вы можете вести простые беседы на знакомые темы. На этом этапе вы можете описать переживания, события и справиться со многими ситуациями во время путешествия.
						</div>
					</div>
					<div class="registration__column">
						<div class="item-registration__title">B2 <br> Upper-Intermediate</div>
						<div class="item-registration__subtitle">Уровень выше среднего</div>
						<div class="item-registration__text">
							Вы можете уверенно общаться на многие темы. На уровне B2 вы можете общаться с носителями языка без проблем и с определенной степенью спонтанности.
						</div>
					</div>
					<div class="registration__column">
						<div class="item-registration__title">C1 <br> Advanced</div>
						<div class="item-registration__subtitle">Продвинутый уровень</div>
						<div class="item-registration__text">
							Вы можете свободно выражать свои мысли в любой ситуации без необходимости искать выражения. Вы умеете выполнять сложные задачи, связанные с работой и учебой.
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div class="registration-button">
			<form>
				<button type="submit" style="width: 380px; height: 60px;"> Выбрать встречу</button>
			    <button type="submit" style="width: 380px;height: 60px;">Пройти тест</button>
		    </form>
		</div>
	    <footer class="contacts">
			<div class="contacts__container">
				<div class="contacts__item contacts__item__1">
					<p>Контакты для связи:</p>
					<p>тел. +79836573456</p>
				</div>
				<div class="contacts__item contacts__item__2" >
				
					<a target="_blank" href="https://t.me">
						<img src="img/icon6.png" alt="" height="30px">
					</a>
				</div>
				<div class="contacts__item contacts__item__3">
					
					<a target="_blank" href="https://instagram.com">
						<img src="img/icon5.png" alt="" height="30px">
					</a>
				</div>
			</div>
			
			<p class="logo">© 2022 English Speaking Club</p>
		</footer>

	</body>
</html>