{% load static %}
<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываем язык содержимого -->
<html lang="ru">
	<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
		<!-- Заголовок страницы в браузере -->
		<title>Moonstone - Online fashion store</title>
		<!-- Подключаем шрифты -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
		<!-- Подключаем CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}" >  
		<!-- Кодировка страницы -->
		<meta charset="UTF-8" >
		<!--Адаптивность-->
		<meta name="viewport" content="width=device-width">	
	</head>
		<!-- Отключает принудительную ссылку у номера телефона на iOS -->
		<meta name="format-detection" content="telephone=no">
	<!-- Отображаемое тело страницы -->
	<body>
		<header>
			<div class="header__container">
				<div class="header__outer">
					<div class="header__inner">
						<nav class="header__inner">
							<ul class="header__list">
								<li class="top__level">
									<a href="#">
										<p class="top__logo">Moonstone</p>
									</a>
								</li>
								<li class="top__level">
									<a href="#">
										Новинки
									</a>
								</li>
								<li class="top__level">
									<a href="#">
										Одежда
									</a>
								</li>
								<li class="top__level">
									<a href="#">
										Аксессуары
									</a>
								</li>
								<li class="top__level">
									<a href="#">
										Личный кабинет
									</a>
								</li>
								<li class="top__level">
									<a href="#">
										Корзина
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

		<div class="title">
			<div class="title__text"><h1><b>New items</b></h1>
            <h3><i>Самые модные новинки <br> этого сезона</i></h3>
		</div>
		</div>
        <div class="title__body">
			<div class="title__row">
				<div class="title__column">
					<div class="title__content">
						<img src="{% static '../../static/img/3.webp' %}" alt="" >				
					</div>
					<a href="#"><p class="product">Сатиновый топ<br>2999 руб.</p></a>
				</div>
				<div class="title__column">
					<div class="title__content">
						<img src="../../static/img/2.webp" alt="" >
					</div>
					<a href="#"><p class="product">Сатиновое вечернее платье<br>5499 руб.</p></a>
				</div>
				<div class="title__column">
					<div class="title__content">
						<img src="../../static/img/4.webp" alt="" >
					</div>
					<p class="product">Сатиновый костюм<br>7699 руб.</p></a>
				</div>
			</div>
		</div>
	    <footer class="contacts">
			<div class="contacts__container">
				<div class="contacts__item contacts__item__1">
					<p>Контакты:</p>
					<p>тел. +79836573456</p>
				</div>
				<div class="contacts__item contacts__item__2" >
					<p>Литейный пр., 32,<br> Санкт-Петербург, <br> 191028</p>
				</div>
				<div class="contacts__item contacts__item__3">
					<a target="_blank" href="https://instagram.com">
						<img src="../../static/img/icon6 (2).png" alt="" height="30px">
					</a>
					<a target="_blank" href="https://twitter.com">
						<img src="../../static/img/icon7.png" alt="" height="30px">
					</a>
					<a target="_blank" href="https://facebook.com">
						<img src="../../static/img/icon5 (2).png" alt="" height="30px">
					</a>
					<a target="_blank" href="https://vk.com">
						<img src="../../static/img/icon9.png" alt="" height="30px">
					</a>
				</div>
			</div>
			
			<p class="logo">© 2023 Moonstone</p>
		</footer>

	</body>
</html>