{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="signup__body">
  <h2>Регистрация</h2>
  <form method="post" action="{% url 'shop:login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Зарегистрироваться</button>
  </form>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
{% endif %}
  {% endblock %}
</div>
