{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="signup__body">
  <h2>Регистрация</h2>
  <form method="post" action="{% url 'shop:login' %}">
    {% csrf_token %}
    <div class="signup__form__group">
      <label for="id_username">Имя пользователя:</label>
      <input type="text" name="username" class="form-control" required maxlength="150"
        pattern="^[a-zA-Z0-9.@_+-]+$" title="150 символов или меньше. Разрешены буквы, цифры и символы: @/./+/-/_" />
    </div>
    <div class="signup__form__group">
      <label for="id_email">Email:</label>
      <input type="email" name="email" class="form-control" required />
    </div>
    <div class="signup__form__group">
      <label for="id_password">Пароль:</label>
      <input type="password" name="password" class="form-control" required minlength="8" 
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" 
        title="Минимум 8 символов, должен содержать хотя бы одну цифру, одну маленькую букву и одну большую букву. Не должен содержать пробелов." />
    </div>
    <div class="signup__form__group">
      <label for="id_password2">Подтверждение пароля:</label>
      <input type="password" name="password2" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    <div class="signup__in">
      <a href="{% url 'shop:login' %}">Войти, если аккаунт уже есть</a>
    </div>  
  </form>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
{% endif %}
  {% endblock %}
</div>
