
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/




@font-face {
	font-family: 'KosugiMaru';
	src: url("../../static/fonts/KosugiMaru-Regular.ttf");
	font-weight: 400;
	font-style: normal; 
}
@font-face {
	font-family: 'Harmonia Sans Pro Cyr';
	src: url("../../static/fonts/HarmoniaSansProCyr-BlackIt.ttf");
    font-weight: 900;
    font-style: italic;
}

body{
	font-family: 'Kosugi Maru', sans-serif;
}

header{
	background-color: #000000;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.header__container {
	background-color: #000000;	
}
.header__outer {

}
.header__list{
	text-align: left;
}

.top__level {
	display: inline;
}
.top__level a{
	color: #f7eef9;
	font-size: 16px;
	display: inline-block;
	padding: 10px;
}
.top__level p{
	font-size: 25px;
	margin-left: 30px;
	margin-right: 20px;
}

.title{
	background-image: url('../../static/img/1.jpg');
	background-size: 100%;
    background-repeat: no-repeat;
	position: relative;
	height: 800px;
	margin-top: 50px;
}

.title__text h1{	
	position: absolute;
	top: 40%;
	right: 200px;
	font-size: 50px;
	font-weight: 800;
	font-family: 'Harmonia Sans Pro Cyr', italic ;
}
.title__text h3{
	position: absolute;
	top: 50%;
	right: 130px;
	font-size: 30px;
	font-weight: 800;
	font-family: 'Kosugi Maru',serif;
}
.title__text{
	color: #000000;
	text-align:center;
}

.title-basis{
	padding-bottom: 10px;
	margin-top: 20px;
}

.title-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	margin-bottom: 80px;
	transition: .35s;
	cursor: pointer;
}

.title-row:hover > :not(:hover){
	opacity: .4;
	transform: scale(0.9);
}

.title__column {
    width: calc(33.33% - 10px);
    height: 600px;
    margin: 1px;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.title-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.title-image img {
    max-width: 100%;
    height: 100%;
}



.title-info {
    position: absolute;
    bottom: 150px;
    left: 0;
    width: 100%;
    color: #000000;
    box-sizing: border-box;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-weight: 700;
	font-size: 20px;
}

.title-info a{
	color: #000000;
}

.contacts{
	background-color: #000000;
	color: #f7eef9;
	padding: 30px 30px 10px 30px;
	font-size: 14px;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	line-height: 20px;
}
.contacts__container{
	display: flex;
	width: 800px;
}
.contacts__item__1{
	flex-basis: 200px;
	
}
.contacts__item__2{
	flex-basis: 200px;
}
.contacts__item__3{
	flex-basis: 300px;
}
.contacts__item a{
	color: #f7eef9;
}
.contacts__item img{
	box-shadow: 0 0 3px 1px #f7eef9;
	border-radius: 3px;
	background-color: #f7eef9;
	margin-left: 15px;
}
.contacts__item img:hover{
	box-shadow: 0 0 10px 4px #f7eef9;
	transition-duration: 0,5s;
}
.logo{
	font-weight: 600;
	font-size: 15px;
	
	position: absolute;
	right: 30px;
	bottom: 30px;
}

.clothes__row {	
	display: flex;
	align-items: stretch;
	margin: 1px;
}
.clothes__column p{
	text-align: left;
	margin: 10px;
	color: #000000;
}
.clothes__column {
	flex: 0 0 33.333%;
	position: relative;
}
.clothes__content{
	margin: 10px 5px;
	padding: 0px 0px 160% 0px;
	overflow: hidden;
	position: relative;
}
.clothes__content img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.clothes__column p{
	text-align: left;
	margin: 10px;
	color: #000000;
}

.basis{
	padding-top: 50px;
	padding-bottom: 80px;
}
.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: calc(33.33% - 10px);
    height: 600px;
    margin: 1px;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.product-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.product-image img {
    max-width: 100%;
    height: 100%;
}

.product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #000000;
    box-sizing: border-box;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.8);
	text-align: left;
}

.product-info a{
	color: #000000;
}


.detail__body{
	background-color: #f7eef9;
	padding-top: 50px;
	padding-bottom: 10px;
	position: relative;
	height: 900px;
}

.detail__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detail {
    width: calc(50% - 10px);
    height: 600px;
    margin: 1px;
    vertical-align: top;
    text-align: left;
    box-sizing: border-box;
    position: relative;
	padding-left: 30px;
	padding-right: 30px;
}

.detail__image{
	margin-left: 50px;
}

.detail__image img {
    max-width: 600px;
    height: 100%;
}

.detail__image img:hover{
	transform: scale(1.1);
	backface-visibility: visible;
	transition-duration: 0.5s;
}

.detail__name form{
	margin-top: 30px;
}

.detail__name button{
	padding: 13px;
	border-radius: 4px;
	background-color: #000000;
	color: #f7eef9;
	font-size: 16px;
	margin-top: 20px;
}

.detail__name h1{
    font-weight: 700;
	font-size: 22px;
	margin-bottom: 20px;
}

.detail__name p{
	font-size: 16px;
	margin: 10px;
}

.detail__name{
	margin-top: 50px;
    font-size: 16px;
}

.detail__form{
    font-size: 16px;
	padding-bottom: 20px;
}

.detail__description{
	margin-top: 30px;
	margin-right: 150px;
	font-size: 16px;
	line-height: 25px;
}

.detail__form input[type="number"],
.detail__form select {
    display: block;
    width: 20%;
    padding: 5px 10px;
    border: 1px solid #c5b1b1;
    border-radius: 5px;
	text-align: center;
}

.cart__body{
	background-color: #f7eef9;
	padding-top: 50px;
	padding-bottom: 10px;
	position: relative;
	height: 700px;
	padding-bottom: 100px;
	text-align: center;
}

.cart__body h1{
	padding-top: 50px;
	padding-bottom: 20px;
	font-size: 25px;
	font-weight: 700;
}

.cart__body table {
	table-layout: fixed;
	width: 60%;
	border-collapse: collapse;
	border: 3px solid #f7eef9;
	margin-left: 310px;
	max-height: 300px;
	overflow-y: auto;
	display: flex;
	border-bottom: 3px solid #c5b1b1;
	border-style: double;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #c5b1b1;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #c5b1b1;
}

.cart__body tr {
	height: 50px;
    text-align: left;
	padding-left: 20px;
	border: 2px solid #f7eef9;
}

.cart__body tr:nth-child(odd) {
	background-color: #c5b1b1;
}

.cart__body tr:nth-child(even) {
	background-color: #f7eef9;
}

.cart__body td {
	border: 2px solid #f7eef9;
	padding-left: 15px;
	width: 17%;
}

.cart__body td:first-child{
	width: 650px;
}

.cart__update{
	padding: 8px 9px;
	border-radius: 4px;
	background-color: #f7eef9;
}

.cart__delete{
	padding: 8px 9px;
	border-radius: 4px;
	background-color: #f7eef9;
}

.cart__price{
	position: fixed;
	bottom: 240px;
	left: 660px;
	font-size: 16px;
	font-weight: 700;
}

.cart__checkout{
	position: fixed;
	margin: 20px;
	padding: 10px 25px;
	border-radius: 4px;
	background-color: #000000;
	color: #f7eef9;
	font-size: 16px;
	left: 630px;
	bottom: 140px;
}

.cart__checkout__button{
	padding: 10px 25px;
	border-radius: 4px;
	background-color: #000000;
	color: #f7eef9;
	font-size: 16px;
}

.button__cart{
	font-size: 16px;
	font-style: italic;
}

.button__cart__get{
	padding: 10px 25px;
	border-radius: 4px;
	background-color: #000000;
	color: #f7eef9;
	font-size: 16px;
	margin: 30px;
}

.button__cart__get a{
	color: #f7eef9;
	font-size: 16px;
}



.signup__body{
	background-color: #f7eef9;
	padding-top: 50px;
	padding-bottom: 10px;
	position: relative;
	height: 700px;
	padding-bottom: 100px;
	font-size: 16px;
	text-align: center;
}

.signup__body h2{
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 25px;
	font-weight: 700;
}

.signup__body form{
	text-align: left;
	padding-left: 400px;
	margin: 10px;
	line-height: 25px;
}

.signup__body button{
	display: block;
	margin: 30px 250px;
	text-align: center;
	padding: 10px 25px;
	border-radius: 4px;
	background-color: #000000;
	color: #f7eef9;
	font-size: 18px;
}



.login__body{
	background-color: #f7eef9;
	padding-top: 50px;
	padding-bottom: 10px;
	position: relative;
	height: 700px;
	padding-bottom: 100px;
	text-align: center;
	font-size: 16px;
}

.login__body h1{
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 25px;
	font-weight: 700;
}

.login__input {
	padding: 12px 25px;
	margin: 15px;
	background-color: #000000;
	color: #f7eef9;
	border-radius: 4px;
	font-size: 16px;
}

.login__body input{
	padding: 10px 25px;
	margin: 10px;
    font-size: 16px;
}


.login__body a{
    color: #000000;
}

.login__signup{
    padding: 6px;
}

.checkout__body{
	background-color: #f7eef9;
	padding-top: 50px;
	padding-bottom: 10px;
	position: relative;
	height: 700px;
	padding-bottom: 100px;
	text-align: center;
	font-size: 16px;
}

.checkout__body h2{
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 25px;
	font-weight: 700;
}

.checkout__body form{
	text-align: left;
	padding-left: 400px;
	margin: 10px;
	line-height: 25px;
}

.checkout__body label{
	padding-left: 200px;
    margin: 20px;
}

.checkout__body button{
	display: block;
	margin: 30px 250px;
	text-align: center;
	padding: 10px 25px;
	border-radius: 4px;
	background-color: #000000;
	color: #f7eef9;
	font-size: 18px;
}


.account__body{
	background-color: #f7eef9;
	padding-top: 50px;
	position: relative;
	height: 700px;
	padding-bottom: 100px;
	background-image:  url('../../static/img/100.jpg');
	background-size: 100%;
    background-repeat: no-repeat;
}

.account__hello{
	font-size: 20px;
	font-weight: 700;
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 100px;

}

.account__hello h1{
	padding-bottom: 10px;
	font-size: 25px;
	font-weight: 700;
	padding-left: 110px;
}

.account__top{
	position: absolute;
	left: 330px;
	font-size: 20px;

}

.account__orders{
	margin-top: 40px;
	max-height: 350px;
	overflow-y: auto;
	width: 750px;
	margin-left: 65px;
	border: 2px solid #f7eef9;
	border-radius: 4px;
	text-align: center;
	padding-left: 10px;
	background-image: image(1.jpg);
	
}

.account__order{
	padding: 10px;
}

.account__order__header{
	padding: 10px;
}

.account__order__header b{
	color: #000;
}

.account__order__body{
	border-bottom: 2px solid #f7eef9;
	padding-bottom: 10px;
}

.account__order__item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.account__out{
	position: absolute;
	bottom: 0;
	left: 31.5%;
	transform: translateX(-50%);
}

.account__button{
	display: block;
	margin: 100px;
	margin-left: 10px;
	text-align: center;
	padding: 10px 25px;
	border-radius: 4px;
	background-color: #000000;
	color: #f7eef9;
	font-size: 16px;
}



.history__body{
	background-color: #f7eef9;
	padding-top: 50px;
	padding-bottom: 10px;
	position: relative;
	height: 700px;
	padding-bottom: 100px;
	text-align: center;
	font-size: 16px;
}

.history__body h1{
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 25px;
	font-weight: 700;
}

.history__body table, th, td {
	border: 1px solid #f7eef9;
}

.history__body table{
	border-collapse: collapse;
	border: 2px solid #f7eef9;
	width: 50%;
	margin-left: 380px;
	margin-bottom: 50px;
	max-height: 300px;
	overflow-y: auto;
	display: block;
}

.history__body tr:nth-child(odd) {
	background-color: #f7eef9;
}

.history__body tr:nth-child(even) {
	background-color: #c5b1b1;
}

.history__body th {
    height: 50px;
	padding: 20px;
    text-align: center;
	background-color: #c5b1b1;
}

.history__body td {
    height: 30px;
	padding: 20px;
    text-align: left;
}

.history__none{
	font-size: 16px;
	font-style: italic;
}

.history__get{
	padding: 10px 25px;
	border-radius: 4px;
	background-color: #000000;
	color: #f7eef9;
	font-size: 16px;
	margin: 30px;
}

.history__get a{
	color: #f7eef9;
	font-size: 16px;
}

