
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
@font-face {
	font-family: 'KosugiMaru';
	src: url("../../static/fonts/KosugiMaru-Regular.ttf");
	font-weight: 400;
	font-style: normal; 
}
@font-face {
	font-family: 'Harmonia Sans Pro Cyr';
	src: url("../../static/fonts/HarmoniaSansProCyr-BlackIt.ttf");
    font-weight: 900;
    font-style: italic;
}

body{
	font-family: 'Kosugi Maru', sans-serif;
}
.header__container {
	background-color: #000000;	
}
.header__outer {
	background-color: #000000;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	height: 50px;
}
.header__list{
	text-align: left;
}

.top__level {
	display: inline;
}
.top__level a{
	color: #f7eef9;
	font-size: 16px;
	display: inline-block;
	padding: 10px;
}
.top__level p{
	font-size: 25px;
	margin-left: 30px;
	margin-right: 20px;
}

.title{
	background-image: url('../../static/img/1.jpg');
	background-size: 100%;
    background-repeat: no-repeat;
	position: relative;
	height: 800px;
}
.title__body {
	text-align: center;
}
.title__row {	
	display: flex;
	margin: 1px 1px 1px 1px;
}
.title__column p{
	text-align: left;
	margin: 10px;
	color: #000000;
}
.title__column {
	flex: 0 0 33.333%;
	position: relative;
}
.title__text h1{	
	position: absolute;
	top: 50%;
	right: 200px;
	font-size: 50px;
	font-weight: 800;
	font-family: 'Harmonia Sans Pro Cyr', italic ;
}
.title__text h3{
	position: absolute;
	top: 60%;
	right: 130px;
	font-size: 30px;
	font-weight: 800;
	font-family: 'Kosugi Maru',serif;
}
.title__text{
	color: #000000;
	text-align:center;
}
.title__content{
	margin: 0px auto;
	padding: 0px 0px 130% 0px;
	overflow: hidden;
	position: relative;
}

.title__content img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	transform: rotateY(0deg);
	backface-visibility: visible;
}
.title__content img:hover{
	transform: scale(1.3);
	backface-visibility: visible;
	transition-duration: 0.5s;
}

.contacts{
	background-color: #000000;
	color: #f7eef9;
	padding: 30px 30px 10px 30px;
	font-size: 14px;
	position: relative;
	text-align: center;
	
}
.contacts__container{
	display: flex;
	width: 800px;
}
.contacts__item__1{
	flex-basis: 200px;
}
.contacts__item__2{
	flex-basis: 200px;
}
.contacts__item__3{
	flex-basis: 300px;
}
.contacts__item a{
	color: #f7eef9;
}
.contacts__item img{
	box-shadow: 0 0 3px 1px #f7eef9;
	border-radius: 3px;
	background-color: #f7eef9;
	margin-left: 15px;
}
.contacts__item img:hover{
	box-shadow: 0 0 10px 4px #f7eef9;
	transition-duration: 0,5s;
}
.logo{
	font-weight: 600;
	font-size: 15px;
	
	position: absolute;
	right: 30px;
	bottom: 30px;
}


.clothes__body {
	text-align: center;
}
.clothes__row {	
	display: flex;
	margin: 1px 1px 1px 1px;
}
.clothes__column p{
	text-align: left;
	margin: 10px;
	color: #000000;
}
.clothes__column {
	flex: 0 0 25%;
	position: relative;
}
.clothes__content{
	margin: 10px 5px;
	padding: 0px 0px 160% 0px;
	overflow: hidden;
	position: relative;
}
.clothes__content img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.clothes__column p{
	text-align: left;
	margin: 10px;
	color: #000000;
}